# Ignorar la carpeta node_modules si usas Node.js
node_modules/

# Ignorar archivos de configuración sensibles
.env

# Ignorar archivos de configuraciones de IDEs
.vscode/
.idea/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db
